<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.xr.immersive"
        android:required="false" />

    <application>
        <activity
            android:name="dev.jdtech.jellyfin.player.xr.XrPlayerActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|uiMode|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTask"
            android:autoRemoveFromRecents="true"
            android:resizeableActivity="true"
            android:theme="@style/Theme.Findroid.XrPlayer">
            <property
                android:name="android.window.PROPERTY_XR_ACTIVITY_START_MODE"
                android:value="XR_ACTIVITY_START_MODE_FULL_SPACE_MANAGED" />
            <meta-data
                android:name="androidx.xr.full_space_mode"
                android:value="true" />
        </activity>
    </application>
</manifest>
