name: Lint

on:
  push:
    paths:
      - '**.kt'
      - '**.kts'
  pull_request:
    paths:
      - '**.kt'
      - '**.kts'

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: temurin
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Check with ktfmt
        run: ./gradlew ktfmtCheck
